 .u-section-1 {
  min-height: 606px;
}

.u-section-1 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 559px;
  margin: 170px auto 0 11px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 511px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 20px 0 11px;
}

.u-section-1 .u-image-1 {
  width: 480px;
  height: 458px;
  margin: -468px 79px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 300px;
  margin: 63px auto 37px 406px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-text-1 {
    margin-right: 495px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 461px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 385px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.3333333333333333rem;
    margin-left: 2px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 60px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 240px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 212px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 185px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 324px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 40px;
  }
}