 .u-section-1 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(41, 46, 51, 0.3), rgba(41, 46, 51, 0.3)), url('images/photo-1600880292203-757bb62b4baf.jpeg');
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 665px;
}

.u-section-1 .u-group-1 {
  min-height: 340px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-text-1 {
  margin: 0 10px;
}

.u-section-1 .u-text-2 {
  width: 726px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 41px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 628px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 628px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 43px 114px 0 68px;
}

.u-section-2 .u-text-2 {
  margin: -182px 166px 0 344px;
}

.u-section-2 .u-text-3 {
  margin: 172px auto 0 68px;
}

.u-section-2 .u-text-4 {
  margin: 30px auto 0 68px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 30px auto 0 68px;
}

.u-section-2 .u-image-1 {
  min-height: 628px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/photo-1517245386807-bb43f82c33c4.jpeg");
  background-size: cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 518px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -37px;
    margin-bottom: -37px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 64px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 143px;
    margin-left: 294px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 18px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 18px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 18px;
  }

  .u-section-2 .u-image-1 {
    min-height: 518px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 406px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -79px;
    margin-bottom: -79px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 105px;
    margin-left: 239px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 397px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 812px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: -116px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 68px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -197px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 193px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 480px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 683px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 43px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: -146px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 141px;
  }

  .u-section-2 .u-image-1 {
    min-height: 302px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #000000, #478ac9);
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 449px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 235px;
  --gap: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  margin: 12px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  font-size: 3.75rem;
  margin: 12px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-6 {
  font-size: 3.75rem;
  margin: 12px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 194px;
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 446px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 490px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  min-height: 628px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  min-height: 628px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/photo-1460925895917-afdab827c52f.jpeg");
  background-size: cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 628px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 110px 61px 0 8px;
}

.u-section-4 .u-text-2 {
  margin: 20px 68px 0 8px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 546px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -23px;
    margin-bottom: -23px;
  }

  .u-section-4 .u-image-1 {
    min-height: 518px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 426px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 427px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 49px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 961px;
  }

  .u-section-4 .u-image-1 {
    min-height: 641px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 504px;
  }

  .u-section-4 .u-image-1 {
    min-height: 404px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 49px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  min-height: 803px;
}

.u-section-5 .u-gallery-1 {
  height: 803px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 0px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 662px;
  }

  .u-section-5 .u-gallery-1 {
    height: 662px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1141px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1141px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 3423px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3423px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2155px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2155px;
  }
} .u-section-6 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/photo-1542744173-8e7e53415bb0.jpeg');
  background-size: cover, cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 622px;
}

.u-section-6 .u-image-1 {
  width: 259px;
  height: 259px;
  background-image: url("images/upscaleCOINcryptograhprotected.png");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -7px 148px 60px 118px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-6 .u-text-1 {
    width: 661px;
    margin-left: 18px;
    margin-right: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 434px;
}

.u-section-7 .u-list-1 {
  margin-bottom: 70px;
  margin-top: 70px;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 294px;
  --gap: 30px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 17px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 242px;
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 70px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 556px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: url("images/photo-1543286386-2e659306cd6c.jpeg");
}

.u-section-8 .u-sheet-1 {
  min-height: 714px;
  margin: 0 calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 589px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 451px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 338px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 213px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}